:root {
	--font: Arial, "Helvetica Neue", Helvetica, sans-serif;
	--red: #ea355a;
	--grey: #7a7b7f;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

/* Main Styles */
body {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 13px/20px var(--font);
	color: var(--grey);

	background: rgb(255,81,47);
	background: -webkit-linear-gradient(bottom left, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%);
	background: -o-linear-gradient(bottom left, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%);
	background: linear-gradient(to top right, rgba(255,81,47,1) 0%, rgba(221,36,118,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff512f', endColorstr='#dd2476',GradientType=1 );
}

.form {
	max-width: 460px;
	width: 100%;
	background-color: #fff;
	border-radius: 4px;
	padding: 30px 30px 55px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .3);
}

.form__title {
	background: url('../images/sign-up-icon.png') no-repeat left center;
	font-size: 24px;
	font-weight: 700;
	color: #000;
	line-height: 28px;
	padding-left: 35px;
	margin-bottom: 15px;
}

.form__login {
	clear: both;
	margin-bottom: 30px;
}

.form__link {
	text-decoration: none;
	color: var(--red);
	border-bottom: 1px solid transparent;
}

.form__link:hover {
	border-color: var(--red);
}

.form__fields {
	display: flex;
}

.form__field {
	padding: 15px;
	background: #f0f0f0;
	border-radius: 4px;
	font: 14px/20px var(--font);
	margin: 0 15px 15px 0;
	width: 100%;
	color: #000;
}

.form__field:last-child {
	margin-right: 0;
}

.form__field::-webkit-placeholder {
	color: var(--grey);
}

.form__field:focus {
	box-shadow: inset 0 0 15px rgba(0, 0, 0, .3);
}

.form__button {
	font: 700 18px/20px var(--font);
	width: 100%;
	color: #fff;
	padding: 15px;
	text-align: center;
	background: var(--red);
	border-radius: 4px;
	margin-bottom: 20px;
	cursor: pointer;
	border-bottom: 3px solid #bd1962;
	position: relative;
	transition: none;
}

.form__button:hover {
	top: 3px;
	border-bottom-width: 0;
	margin-bottom: 23px;
}

.form__footer {
	font-size: 12px;
}
